.searchBar{
    padding: 0.5rem 1rem;
    border-radius: 50px;
    width: max-content;
    box-shadow: rgba(17,12,46,0.15) 0px 48px 100px 0px;
    margin-top: 50px;
}

.formGroup span{
    font-size: 1.8rem;
    color: #ee6e6e;
}

.formGroup input{
    border: none;
    font-size: 0.9rem;
    color: var(--heading-color);
    font-weight: 500;
}

.formGroup input:focus{
    outline: none;
}

.formGroup h6{
    margin-bottom: 0;
}

.formGroupFast{
    border-right: 2px solid #ddd;
}

.searchIcon i {
    font-size: 1.6rem;
    padding: 0.5rem;
    background: var(--secondary-color);
    color: #fff;
    border-radius: 10px 5px 10px 5px;
    cursor: pointer;
}